[submodule "mlstm_kernels"]
	path = mlstm_kernels
	url = git@github.com:NX-AI/mlstm_kernels.git
[submodule "mlstm_simple_torch"]
	path = mlstm_simple_torch
	url = git@github.com:NX-AI/mlstm_simple_torch.git
